@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-blue;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
}

@layer components {
  .blog-entry {
    @apply bg-dark-blue-light p-6 flex flex-col justify-between min-h-10 mb-5 md:w-64 md:mr-5 2xl:w-80;
  }
  .blog-entry-title {
    @apply font-bold text-2xl;
  }
  .blog-entry-time {
    @apply self-end text-white text-opacity-50;
  }
  .link-hover {
    @apply text-white hover:text-opacity-80
  }
}

@layer utilities {
  .blog-entry-bg:before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
  }
}